@import "tailwindcss";

html {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}
h3 {
  font-size: larger;
}
h4 {
  font-size: large;
}
h5 {
  font-size: medium;
}

:root {
  --primary: #e11d48;
}

.container {
  padding: 0 3rem;
}

.background {
  /* background: url('/homeHero.jpg'); */
  background: url('/heroHome.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  /* color: var(--primary) !important; */
  width: 100vw;
  height: 100vh;
}

.background2 {
  background: url('/overlay.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--primary) !important;
  width: 100%;
  padding-top: 5rem;
}

.nav-link {
  font-weight: 600 !important;
}